<footer class="footer-section section" id="footer">
  <div class="footer-container container">
    <!-- Container with content -->
    <div class="footer-content">
      <!-- Slogan -->
      <h2 class="footer-slogan">
        <span class="footer-slogan-word">Chocolate</span> a delicious cure for a
        bad day
      </h2>
      <!-- Container with links -->
      <div class="footer-outside-links">
        <!-- Container with contacts -->
        <address class="footer-contacts">
          <p class="footer-subtitle">Contact us</p>
          <ul class="footer-contacts-list list">
            <li>
              <a class="footer-contacts-link link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li>
              <a
                class="footer-contacts-link link"
                href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
        <!-- Container with icons -->

        <ul class="footer-social-list list">
          <li class="footer-social-list-item">
            <a
              class="footer-social-img"
              target="_blank"
              rel="noreferrer noopener"
              href=""
            >
              <svg class="footer-socilal-icon" width="24" height="24">
                <use href="./img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-list-item">
            <a
              class="footer-social-img"
              target="_blank"
              rel="noreferrer noopener"
              href=""
            >
              <svg class="footer-socilal-icon" width="24" height="24">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Container with navigation -->

    <ul class="footer-nav-list list">
      <li>
        <a class="footer-nav-link link" href="#">Home</a>
      </li>
      <li>
        <a class="footer-nav-link link" href="#how-its-made"
          >How it&#8217;s made?</a
        >
      </li>
      <li>
        <a class="footer-nav-link link" href="#our-products">Our products</a>
      </li>
      <li>
        <a class="footer-nav-link link" href="#top-sellers">Top sellers</a>
      </li>
      <li>
        <a class="footer-nav-link link" href="#reviews">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>

<div id="back-to-top" class="back-to-top">
  <span class="back-to-top-img">
    <svg class="back-to-top-icon" width="24" height="24">
      <use href="./img/icons.svg#scroll"></use>
    </svg>
  </span>
</div>
