<!-- HEADER -->

<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="">
        <ul class="header-logo">
          <li class="header-logo-text">
            SIMPLY <span class="header-logo-span">CHOCOLATE</span>
          </li>
          <li class="header-logo-picture">
            <svg class="header-logo-icon" width="21" height="21">
              <use href=""></use>
            </svg>
          </li>
        </ul>
      </a>
      <button class="burger-menu-btn" type="button">
        <svg class="burger-menu-icon" width="21" height="14">
          <use href=""></use>
        </svg>
      </button>
    </nav>
  </div>
</header>

<!-- Mobile window -->

<div class="mobile-menu-container">
  <button class="mobile-close-btn" type="button">
    <svg class="mobile-close-icon" width="" height="">
      <use href=""></use>
    </svg>
  </button>
  <ul class="mobile-nav-list">
    <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="">Home</a>
    </li>
    <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="">How it's made?</a>
    </li>
    <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="">Our products</a>
    </li>
    <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="">Top sellers</a>
    </li>
    <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="">Top sellers</a>
    </li>
  </ul>
  <ul>
    <li>
      <svg class="mobile-socials-link" width="22" height="22">
        <use href=""></use>
      </svg>
    </li>
    <li>
      <svg class="mobile-socials-link" width="20" height="20">
        <use href=""></use>
      </svg>
    </li>
  </ul>
</div>
