<!-- HEADER -->

<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo-link" href="">
        <ul class="header-logo-list">
          <li class="header-logo-text">
            <span class="header-logo-span">SIMPLY </span>CHOCOLATE
          </li>
          <li class="header-logo-picture">
            <svg class="header-logo-icon" width="21" height="21">
              <use href="./img/icons.svg#logo"></use>
            </svg>
          </li>
        </ul>
      </a>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">How it's made?</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Our products</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Top sellers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Chocolate is loved</a>
        </li>
      </ul>

      <ul class="header-socials-list">
        <li class="header-socials-item">
          <a class="header-socials-link" href="">
            <svg class="header-socials-icon" width="24" height="24">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item">
          <a class="header-socials-link" href="">
            <svg class="header-socials-icon" width="24" height="24">
              <use href="./img/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button class="button burger-menu-btn" type="button">
        <svg class="burger-menu-icon" width="21" height="14">
          <use href="./img/icons.svg#menu-mobile"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>

<!-- Mobile window -->

<div class="mobile-menu-container">
  <button class="button mobile-close-btn" type="button">
    <svg class="mobile-close-icon" width="12" height="12">
      <use href="../img/icons.svg#icon-x"></use>
    </svg>
  </button>

  <ul class="mobile-nav-list">
    <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="">Home</a>
    </li>
    <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="">How it's made?</a>
    </li>
    <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="">Our products</a>
    </li>
    <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="">Top sellers</a>
    </li>
    <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="">Chocolate is loved</a>
    </li>
  </ul>

  <ul class="mobile-socials-list">
    <li class="mobile-socials-item">
      <a class="mobile-socials-link" href="">
        <svg class="mobile-socials-icon" width="22" height="22">
          <use href="../img/icons.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-socials-item">
      <a class="mobile-socials-link" href="">
        <svg class="mobile-socials-icon" width="20" height="20">
          <use href="../img/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<script src="../main.js"></script>
