<section class="hero-section section">
  <div class="hero-container container">
    <h1 class="visually-hidden">Simply chocolate</h1>
    <h2 class="hero-subtitle subtitle">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-nav-wrupper">
      <button type="button" class="buy-now-btn btn">Buy now</button>
      <a class="herro-nav-link link" href="">How it&#39;s made</a>
      <a class="hero-scroll-link link" href="#footer"
        >scroll down
        <svg width="28" height="28">
          <use href=""></use>
        </svg>
      </a>
    </div>
  </div>
</section>
