<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <section class="how-its-made-section section">
        <h2 class="how-its-made-subject title">
            HOW IT'S <span class="how-its-made-part">MADE?</span>
        </h2>
        <div class="how-its-made-container container">
            <div class="how-its-made-holder">
                <div class="how-its-made-overlay">
                    <img class="how-its-made-image" src="./images/image_tab@1x.jpg" alt="" width="614">
                    <iframe class="how-its-made-video" src="https://www.youtube.com/embed/ZtMfiWDQHT8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="how-its-made-cont"></div>
                <svg class="how-its-made-icon" width="20" height="21">
                    <use href="./images/play.svg#icon-play"></use>
                </svg>
            </div>
        </div>
        <div class="how-its-made-box">
            <h3 class="how-its-made-title">
                Try our chocolates today and discover the perfect balance of flavor
            </h3>
            <ul class="how-its-made-list list">
                <li class="how-its-made-item item">
                    <p class="how-its-made-text">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa
                        powder.</p>
                </li>
                <li class="how-its-made-item item">
                    <p class="how-its-made-text">At the same time, prepare a water bath. Melt the butter on it.</p>
                </li>
                <li class="how-its-made-item item">
                    <p class="how-its-made-text">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a
                        silicone spatula so that the mass becomes
                        uniform and silky.</p>
                </li>
                <li class="how-its-made-item item">
                    <p class="how-its-made-text">Heat the mixture over low heat, letting it barely boil.</p>
                </li>
                <li class="how-its-made-item item">
                    <p class="how-its-made-text">Pour the chocolate into special containers (can be replaced with ice molds).
                        Allow to cool and
                        harden.</p>
                </li>
            </ul>
        </div>
        </div>
        </section>
        </body>
        </html>