<section class="how-its-made-section section">
    <h2 class="how-its-made-subject">
        HOW IT'S <span class="how-its-made-part">MADE?</span>
    </h2>
    <div class="how-its-made-container container">
        <div class="how-its-made-holder">
            <picture>
                <img class="how-its-made-image" src="./img/how-its-made.img/image_tab@1x.jpg" alt="">
            </picture>
            <svg class="how-its-made-icon">
                <use></use>
            </svg>
        </div>
        <div class="how-its-made-box">
            <h3 class="how-its-made-title">
                Try our chocolates today and discover the perfect balance of flavor
            </h3>
            <ul class="how-its-made-list">
                <li class="how-its-made-link">
                    Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
                </li>
                <li class="how-its-made-link">
                    At the same time, prepare a water bath. Melt the butter on it.
                </li>
                <li class="how-its-made-link">
                    "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the
                    mass becomes
                    uniform and silky.
                </li>
                <li class="how-its-made-link">
                    Heat the mixture over low heat, letting it barely boil.
                </li>
                <li class="how-its-made-link">
                    Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and
                    harden.
                </li>
            </ul>
        </div>
    </div>
</section>`