<section id="our-products" class="our-products section">
    <div class="container">
      <h2 class="our-products-title title">
        Our <span class="title-decor">products</span>
      </h2>
      <div class="swiper our-products-swiper">
        <ul class="swiper-wrapper our-products-swiper-wrapper">
          <li class="our-products swiper-slide js-open-modal" data-modal="1">
            <div class="our-products-wrapper">
              <img
                class="our-products-img"
                srcset="
                  ./img/our-products/chocolate-1.webp    1x,
                  ./img/our-products/chocolate-1@2x.webp 2x
                "
                src="./img/our-products/chocolate-1.jpg"
                alt="Our chocolate"
                width="230"
                height="201"
                loading="lazy"
              />
              <h3 class="our-products-title">orange</h3>
              <p class="our-products-text">Dark chocolate</p>
              <button class="our-products-btn">45 UAH</button>
            </div>
          </li>
          <li class="our-products swiper-slide js-open-modal" data-modal="1">
            <div class="our-products-wrapper">
              <img
                class="our-products-img"
                srcset="
                  ./img/our-products/chocolate-2.webp    1x,
                  ./img/our-products/chocolate-2@2x.webp 2x
                "
                src="./img/our-products/chocolate-2.jpg"
                alt="Our chocolate"
                width="230"
                height="201"
                loading="lazy"
              />
              <h3 class="our-products-title">APPLE&CRANBERRY</h3>
              <p class="our-products-text">Milk chocolate</p>
              <button class="our-products-btn">50 UAH</button>
            </div>
          </li>
          <li class="our-products swiper-slide js-open-modal" data-modal="1">
            <div class="our-products-wrapper">
              <img
                class="our-products-img"
                srcset="
                  ./img/our-products/chocolate-3.webp    1x,
                  ./img/our-products/chocolate-3@2x.webp 2x
                "
                src="./img/our-products/chocolate-3.jpg"
                alt="Our chocolate"
                width="230"
                height="201"
                loading="lazy"
              />
              <h3 class="our-products-title">lime&sea salt</h3>
              <p class="our-products-text">Dark chocolate</p>
              <button class="our-products-btn">66 UAH</button>
            </div>
          </li>
          <li class="our-products swiper-slide js-open-modal" data-modal="1">
            <div class="our-products-wrapper">
              <img
                class="our-products-img"
                srcset="
                  ./img/our-products/chocolate-4.webp    1x,
                  ./img/our-products/chocolate-4@2x.webp 2x
                "
                src="./img/our-products/chocolate-4.jpg"
                alt="Our chocolate"
                width="230"
                height="201"
                loading="lazy"
              />
              <h3 class="our-products-title">pineapple</h3>
              <p class="our-products-text">Dark chocolate</p>
              <button class="our-products-btn">54 UAH</button>
            </div>
          </li>
          <li class="our-products swiper-slide js-open-modal" data-modal="1">
            <div class="our-products-wrapper">
              <img
                class="our-products-img"
                srcset="
                  ./img/our-products/chocolate-5.webp    1x,
                  ./img/our-products/chocolate-5@2x.webp 2x
                "
                src="./img/our-products/chocolate-5.jpg"
                alt="Our chocolate"
                width="230"
                height="201"
                loading="lazy"
              />
              <h3 class="our-products-title">Classic</h3>
              <p class="our-products-text">Milk chocolate</p>
              <button class="our-products-btn">45 UAH</button>
            </div>
          </li>
          <li class="our-products swiper-slide js-open-modal" data-modal="1">
            <div class="our-products-wrapper">
              <img
                class="our-products-img"
                srcset="
                  ./img/our-products/chocolate-6.webp    1x,
                  ./img/our-products/chocolate-6@2x.webp 2x
                "
                src="./img/our-products/chocolate-6.jpg"
                alt="Our chocolate"
                width="230"
                height="201"
                loading="lazy"
              />
              <h3 class="our-products-title">honey</h3>
              <p class="our-products-text">Milk chocolate</p>
              <button class="our-products-btn">50 UAH</button>
            </div>
          </li>
          <li class="our-products swiper-slide js-open-modal" data-modal="1">
            <div class="our-products-wrapper">
              <img
                class="our-products-img"
                srcset="
                  ./img/our-products/chocolate-7.webp    1x,
                  ./img/our-products/chocolate-7@2x.webp 2x
                "
                src="./img/our-products/chocolate-7.jpg"
                alt="Our chocolate"
                width="230"
                height="201"
                loading="lazy"
              />
              <h3 class="our-products-title">Roasted fruits</h3>
              <p class="our-products-text">Dark chocolate</p>
              <button class="our-products-btn">66 UAH</button>
            </div>
          </li>
          <li class="our-products swiper-slide js-open-modal" data-modal="1">
            <div class="our-products-wrapper">
              <img
                class="our-products-img"
                srcset="
                  ./img/our-products/chocolate-8.webp    1x,
                  ./img/our-products/chocolate-8@2x.webp 2x
                "
                src="./img/our-products/chocolate-8.jpg"
                alt="Our chocolate"
                width="230"
                height="201"
                loading="lazy"
              />
              <h3 class="our-products-title">Classic</h3>
              <p class="our-products-text">White chocolate</p>
              <button class="our-products-btn">54 UAH</button>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>