<section id="our-products" class="our-products section">
  <div class="container products-content">
    <h2 class="our-products-title title">
      OUR<span class="our-products-title-color">&#160;PRODUCTS</span>
    </h2>
    <div class="swiper product-swiper">
      <ul class="swiper-wrapper product-swiper-wrapper list">
        <li class="our-products-list-item swiper-slide">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/orange1x.webp 1x,
                /img/our-products/orange2x.webp 2x,
                /img/our-products/orange3x.webp 3x
              "
            />
            <source
              srcset="
                /img/our-products/orange1x.png 1x,
                /img/our-products/orange2x.png 2x,
                /img/our-products/orange3x.png 3x
              "
            />
            <img
              class="our-product-img"
              src="/img/our-products/orange1x.png"
              alt="Cocholate: orange flavour"
              width="230"
              height="201"
              loading="lazy"
            />
          </picture>
          <h3 class="our-products-item-title">ORANGE</h3>
          <p class="our-products-item-description">Dark chocolate</p>
          <button class="btn our-products-item-price-btn" type="button">
            45 UAH
          </button>
        </li>
        <li class="our-products-list-item swiper-slide">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/apple1x.webp 1x,
                /img/our-products/apple2x.webp 2x,
                /img/our-products/apple3x.webp 3x
              "
            />
            <source
              srcset="
                /img/our-products/apple1x.png 1x,
                /img/our-products/apple2x.png 2x,
                /img/our-products/apple3x.png 3x
              "
            />
            <img
              class="our-product-img"
              src="/img/our-products/apple1x.png"
              alt="Cocholate: apple and cranberry flavour"
              width="230"
              height="201"
              loading="lazy"
            />
          </picture>

          <h3 class="our-products-item-title">APPLE&amp;CRANBERRY</h3>
          <p class="our-products-item-description">Milk chocolate</p>
          <button class="btn our-products-item-price-btn" type="button">
            50 UAH
          </button>
        </li>
        <li class="our-products-list-item swiper-slide">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/lime1x.webp 1x,
                /img/our-products/lime2x.webp 2x,
                /img/our-products/lime3x.webp 3x
              "
            />
            <source
              srcset="
                /img/our-products/lime1x.png 1x,
                /img/our-products/lime2x.png 2x,
                /img/our-products/lime3x.png 3x
              "
            />
            <img
              class="our-product-img"
              src="/img/our-products/lime1x.png"
              alt="Cocholate: lime and salt flavour"
              width="230"
              height="201"
              loading="lazy"
            />
          </picture>

          <h3 class="our-products-item-title">LIME&amp;SEA SALT</h3>
          <p class="our-products-item-description">Dark chocolate</p>
          <button class="btn our-products-item-price-btn" type="button">
            66 UAH
          </button>
        </li>
        <li class="our-products-list-item swiper-slide">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/pineapple1x.webp 1x,
                /img/our-products/pineapple2x.webp 2x,
                /img/our-products/pineapple3x.webp 3x
              "
            />
            <source
              srcset="
                /img/our-products/pineapple1x.png 1x,
                /img/our-products/pineapple2x.png 2x,
                /img/our-products/pineapple3x.png 3x
              "
            />
            <img
              class="our-product-img"
              src="/img/our-products/pineapple1x.png"
              alt="Cocholate: pineapple flavour"
              width="230"
              height="201"
              loading="lazy"
            />
          </picture>

          <h3 class="our-products-item-title">PINEAPPLE</h3>
          <p class="our-products-item-description">Dark chocolate</p>
          <button class="btn our-products-item-price-btn" type="button">
            54 UAH
          </button>
        </li>
        <li class="our-products-list-item swiper-slide">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/classic1x.webp 1x,
                /img/our-products/classic2x.webp 2x,
                /img/our-products/classic3x.webp 3x
              "
            />
            <source
              srcset="
                /img/our-products/classic1x.png 1x,
                /img/our-products/classic2x.png 2x,
                /img/our-products/classic3x.png 3x
              "
            />
            <img
              class="our-product-img"
              src="/img/our-products/classic1x.png"
              alt="Cocholate: classic"
              width="230"
              height="201"
              loading="lazy"
            />
          </picture>

          <h3 class="our-products-item-title">CLASSIC</h3>
          <p class="our-products-item-description">Milk chocolate</p>
          <button class="btn our-products-item-price-btn" type="button">
            45 UAH
          </button>
        </li>
        <li class="our-products-list-item swiper-slide">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/honey1x.webp 1x,
                /img/our-products/honey2x.webp 2x,
                /img/our-products/honey3x.webp 3x
              "
            />
            <source
              srcset="
                /img/our-products/honey1x.png 1x,
                /img/our-products/honey2x.png 2x,
                /img/our-products/honey3x.png 3x
              "
            />
            <img
              class="our-product-img"
              src="/img/our-products/honey1x.png"
              alt="Cocholate: honey flavour"
              width="230"
              height="201"
              loading="lazy"
            />
          </picture>
          <h3 class="our-products-item-title">HONEY</h3>
          <p class="our-products-item-description">Milk chocolate</p>
          <button class="btn our-products-item-price-btn" type="button">
            50 UAH
          </button>
        </li>
        <li class="our-products-list-item swiper-slide">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/roasted1x.webp 1x,
                /img/our-products/roasted2x.webp 2x,
                /img/our-products/roasted3x.webp 3x
              "
            />
            <source
              srcset="
                /img/our-products/roasted1x.png 1x,
                /img/our-products/roasted2x.png 2x,
                /img/our-products/roasted3x.png 3x
              "
            />
            <img
              class="our-product-img"
              src="/img/our-products/roasted1x.png"
              alt="Cocholate: roasted fruits"
              width="230"
              height="201"
              loading="lazy"
            />
          </picture>
          <h3 class="our-products-item-title">Roasted fruits</h3>
          <p class="our-products-item-description">Dark chocolate</p>
          <button class="btn our-products-item-price-btn" type="button">
            66 UAH
          </button>
        </li>
        <li class="our-products-list-item swiper-slide">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/white-classic1x.webp 1x,
                /img/our-products/white-classic2x.webp 2x,
                /img/our-products/white-classic3x.webp 3x
              "
            />
            <source
              srcset="
                /img/our-products/white-classic1x.png 1x,
                /img/our-products/white-classic2x.png 2x,
                /img/our-products/white-classic3x.png 3x
              "
            />
            <img
              class="our-product-img"
              src="/img/our-products/white-classic1x.png"
              alt="White cocholate: classic"
              width="230"
              height="201"
              loading="lazy"
            />
          </picture>
          <h3 class="our-products-item-title">CLASSIC</h3>
          <p class="our-products-item-description">White chocolate</p>
          <button class="btn our-products-item-price-btn" type="button">
            54 UAH
          </button>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
