   <section class="section">
        <div class="container">
          <h2 class="title"><span class="decoraion-reviews-title">chocolate</span> is loved</h2>
          <ul class="list reviews-list owl-carousel owl-theme">
            <li class="reviews-item">
              <img
                class="photo-user"
                srcset="
                  ./img/reviews/user_photo.webp    1x,
                  ./img/reviews/user_photo@2x.webp 2x
                  
                "
                src="./img/reviews/user-photo.jpg"
                alt="user-photo"
                width="80"
                height="80"
                loading="lazy" />
              <h3 class="reviews-user">Victoria Dobrzhanska</h3>
              <p class="reviews-text">
                I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
              </p>
            </li>
            <li class="reviews-item reviews-item-mobile">
              <img
                class="photo-user"
                srcset="
                  ./img/reviews/user_photo_2.webp    1x,
                  ./img/reviews/user_photo_2@2x.webp 2x
                "
                src="./img/reviews/user_photo_2.jpg"
                alt="user-photo"
                width="80"
                height="80"
                loading="lazy" />
              <h3 class="reviews-user">Nazar Babenko</h3>
              <p class="reviews-text">
                This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is
                smooth, and the chocolate is good.
              </p>
            </li>
            <li class="reviews-item reviews-item-mobile reviews-item-tablet">
              <img
                class="photo-user"
                srcset="
                  ./img/reviews/user_photo_3.webp    1x,
                  ./img/reviews/user_photo_3@2x.webp 2x
                "
                src="./img/reviews/user_photo_3.jpg"
                alt="user-photo"
                width="80"
                height="80"
                loading="lazy" />
              <h3 class="reviews-user">Olena Kampusch</h3>
              <p class="reviews-text">
                Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside.
                The wafer is soft but crunchy.
              </p>
            </li>
          </ul>
         <button type="button" class="reviews-btn">
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span class="text">Leave a review</span>
        </div>
      </section>