<section id="reviews" class="section">
  <div class="container">
    <h2><span>chocolate</span> is loved</h2>
    <ul class="list">
      <li>
        <img src="" alt="" width="80" height="80" />
        <h3>Victoria Dobrzhanska</h3>
        <p>
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li>
        <h3>Nazar Babenko</h3>
        <img src="" alt="" width="80" height="80" />
        <p>
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li>
        <h3>Olena Kampusch</h3>
        <img src="" alt="" width="80" height="80" />
        <p>
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <button type="button">Leave a review</button>
  </div>
</section>
