<section class="subscribe-section section">
  <div class="subscribe-container container">
    <h2 class="subscribe-title title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="subscribe-desc text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button
      type="button"
      class="subscribe-btn button js-open-modal"
      data-modal="2"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="text">Subscribe</span>
    </button>
  </div>
</section>
<div class="subcribe-modal modal" data-modal="2">
  <svg class="modal-sb-icon modal__cross js-modal-close" width="28" height="28">
    <use href="./img/icons.svg#icon-x"></use>
  </svg>
  <h2 class="modal-sb-title">
    Explore our <br /><span class="modal-sb-title-span">new chocolate</span>
    first!
  </h2>
  <div class="input-sb-container">
    <input
      name="user_email"
      type="email"
      id="email"
      class="input-sb-email"
      required
      spellcheck="true"
      placeholder="Enter your email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
    />
    <button type="button" class="button js-modal-close modal-sb-btn">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="text">Submit</span>
    </button>
  </div>
</div>
<div class="overlay-sb overlay"></div>
<!-- <script src="../js/scroll.js"></script> -->
