<section class="top-sellers-section section" id="top-sellers">
  <div class="top-sellers-container container">
    <h2 class="top-sellers-title title">
      <span class="top-selers-title-span">Top</span> Sellers
    </h2>
    <ul class="top-sellers-list list">
      <li class="top-sellers-list-item item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img-2.webp    1x,
              ./img/top-sellers/img-2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img-2.png    1x,
              ./img/top-sellers/img-2@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/top-sellers/img-2.webp    1x,
              ./img/top-sellers/img-2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/top-sellers/img-2.png    1x,
              ./img/top-sellers/img-2@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/top-sellers/img-2.webp    1x,
              ./img/top-sellers/img-2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/top-sellers/img-2.png    1x,
              ./img/top-sellers/img-2@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="top-sellers-img"
            src="./img/top-sellers/img-2.png"
            alt="Top sellers"
          />
        </picture>
        <p class="top-sellers-desc text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sellers-list-item item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img-1.webp    1x,
              ./img/top-sellers/img-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img-1.png    1x,
              ./img/top-sellers/img-1@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/top-sellers/img-1.webp    1x,
              ./img/top-sellers/img-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/top-sellers/img-1.png    1x,
              ./img/top-sellers/img-1@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/top-sellers/img-1.webp    1x,
              ./img/top-sellers/img-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/top-sellers/img-1.png    1x,
              ./img/top-sellers/img-1@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="top-sellers-img"
            src="./img/top-sellers/img-1.png"
            alt="Top sellers"
          />
        </picture>
        <button
          type="button"
          class="top-sellers-btn button js-open-modal"
          data-modal="1"
        >
          Buy now
        </button>
      </li>
      <li class="top-sellers-list-item-desktop item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img-3.webp    1x,
              ./img/top-sellers/img-3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img-3.png    1x,
              ./img/top-sellers/img-3@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/top-sellers/img-3.webp    1x,
              ./img/top-sellers/img-3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/top-sellers/img-3.png    1x,
              ./img/top-sellers/img-3@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/top-sellers/img-3.webp    1x,
              ./img/top-sellers/img-3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/top-sellers/img-3.png    1x,
              ./img/top-sellers/img-3@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="top-sellers-img-desktop"
            src="./img/top-sellers/img-3.png"
            alt="Top sellers"
          />
        </picture>
      </li>
    </ul>
  </div>
  <div class="top-sellers-dektop-container container">
    <p class="top-sellers-desc-desktop text">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button
      type="button"
      class="top-sellers-btn-desktop button js-open-modal"
      data-modal="1"
    >
      Buy now
    </button>
  </div>
</section>
<div class="modal" data-modal="1">
  <svg class="modal-icon modal__cross js-modal-close" width="28" height="28">
    <use href="../img/icons.svg#icon-x"></use>
  </svg>
  <h2 class="modal-title"><span class="modal-title-span">BUY</span> NOW</h2>
  <ul class="modal-img-list">
    <li class="modal-img-list-item">
      <picture class="modal-list-img-container">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/top-sellers/img-1-modal.webp    1x,
            ./img/top-sellers/img-1-modal@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/top-sellers/img-1-modal.png    1x,
            ./img/top-sellers/img-1-modal@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/top-sellers/img-1-modal.webp    1x,
            ./img/top-sellers/img-1-modal@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/top-sellers/img-1-modal.png    1x,
            ./img/top-sellers/img-1-modal@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/top-sellers/img-1-modal.webp    1x,
            ./img/top-sellers/img-1-modal@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/top-sellers/img-1-modal.png    1x,
            ./img/top-sellers/img-1-modal@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./img/top-sellers/img-1-modal.png"
          alt="Choose your product"
        />
      </picture>
      <div class="number-container">
        <input
          id="gr"
          type="number"
          class="modal-gram-container"
          value="100"
          step="10"
          min="100"
          max="900"
        />
        <label for="gr" class="number-gram">g</label>
      </div>
    </li>
    <li class="modal-img-list-item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/top-sellers/img-2-modal.webp    1x,
            ./img/top-sellers/img-2-modal@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/top-sellers/img-2-modal.png    1x,
            ./img/top-sellers/img-2-modal@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/top-sellers/img-2-modal.webp    1x,
            ./img/top-sellers/img-2-modal@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/top-sellers/img-2-modal.png    1x,
            ./img/top-sellers/img-2-modal@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/top-sellers/img-2-modal.webp    1x,
            ./img/top-sellers/img-2-modal@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/top-sellers/img-2-modal.png    1x,
            ./img/top-sellers/img-2-modal@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./img/top-sellers/img-2-modal.png"
          alt="Choose your product"
        />
      </picture>
      <div class="number-container">
        <input
          id="gr"
          type="number"
          class="modal-gram-container"
          value="200"
          step="10"
          min="200"
          max="900"
        />
        <label for="gr" class="number-gram">g</label>
      </div>
    </li>
    <li class="modal-img-list-item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/top-sellers/img-3-modal.webp    1x,
            ./img/top-sellers/img-3-modal@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/top-sellers/img-3-modal.png    1x,
            ./img/top-sellers/img-3-modal@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/top-sellers/img-3-modal.webp    1x,
            ./img/top-sellers/img-3-modal@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/top-sellers/img-3-modal.png    1x,
            ./img/top-sellers/img-3-modal@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/top-sellers/img-3-modal.webp    1x,
            ./img/top-sellers/img-3-modal@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/top-sellers/img-3-modal.png    1x,
            ./img/top-sellers/img-3-modal@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./img/top-sellers/img-3-modal.png"
          alt="Choose your product"
        />
      </picture>
      <div class="number-container">
        <input
          id="gr"
          type="number"
          class="modal-gram-container"
          value="300"
          step="10"
          min="300"
          max="900"
        />
        <label for="gr" class="number-gram">g</label>
      </div>
    </li>
  </ul>
  <form class="modal-form" autocomplete="on">
    <div class="modal-container">
      <label for="pi" class="label">Personal information</label>
      <input
        class="pi-first-input"
        type="text"
        id="pi"
        required
        spellcheck="true"
        pattern="[A-Za-z]{1,32}"
        placeholder="Name"
      />
      <input
        class="pi-second-input"
        type="text"
        id="pi"
        required
        spellcheck="true"
        pattern="[A-Za-z]{1,32}"
        placeholder="Surname"
      />
    </div>
    <div class="modal-container">
      <label for="email" class="label">Email</label>
      <input
        type="email"
        id="email"
        class="input-email"
        required
        spellcheck="true"
        placeholder="Enter your email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
    </div>
    <div class="modal-container">
      <label>
        <span class="label">Phone number</span>
        <span class="input-tel-container">
          <input
            type="tel"
            class="input-number"
            required
            spellcheck="true"
            placeholder="Phone number"
            pattern="789][0-9]{9}"
          />
          <svg class="phone-icon" width="32" height="32">
            <use href="./img/icons.svg#Flag"></use>
          </svg>
          <span class="phone-number">+380</span>
        </span>
      </label>
    </div>
    <div class="modal-container">
      <label>
        <span class="label">Card number</span>
        <span class="input-card-container">
          <input
            type="text"
            id="card"
            class="input-card"
            required
            placeholder="Enter  card"
            pattern="[0-9\s]{13,19}"
          />
          <svg class="card-icon" width="44" height="30">
            <use href="./img/icons.svg#icon-Mastercard"></use>
          </svg>
        </span>
      </label>
    </div>
    <div class="modal-container">
      <label for="ta" class="label">Comment</label>
      <textarea id="ta" class="ta" placeholder="Enter text"></textarea>
    </div>
  </form>
  <script src="../main.js"></script>
</div>
<div class="overlay js-overlay-modal"></div>
