<section class="unique-components-section section">
  <div class="unique-section-container container">
    <h2 class="unique-components-title title">
      it all adds up to one exceptional
      <span class="unique-components-title-accent">taste</span> sensation
    </h2>
    <p class="unique-components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-components-list list">
      <li class="unique-components-item item">
        <div class="container-card">
          <div class="card">
            <div class="front-card">
              <picture>
                <!-- Desktop -->
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/unique-components/img-1_desk@1x.webp 1x,
                    ./img/unique-components/img-1_desk@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/unique-components/img-1_desk@1x.png 1x,
                    /img/unique-components/img-1_desk@2x.png 2x
                  "
                  type="image/png"
                />
                <!-- Tablet and mobile -->
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/unique-components/img-1@1x.webp 1x,
                    /img/unique-components/img-1@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    ./img/unique-components/img-1@1x.png 1x,
                    /img/unique-components/img-1@2x.png  2x
                  "
                  type="image/png"
                />
                <img
                  class="unique-components-img img"
                  src="./img/unique-components/img-1@1x.png"
                  alt="Milk chocolate"
                  width="224"
                  height="171"
                  loading="lazy"
                />
              </picture>
              <h3 class="unique-components-subtitle-light">Milk chocolate</h3>
            </div>
            <div class="back-card">
              <h3 class="back-card-title title">Milk chocolate</h3>

              <div class="card-btn-container">
                <button class="unique-components-btn button" type="button">
                  chocolate
                </button>
                <button class="unique-components-btn button" type="button">
                  the benefits
                </button>
              </div>
              <p class="unique-components-card-text text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. Although four-fifths of all
                milk chocolate is sold in the United States and Europe.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-components-item item">
        <div class="container-card">
          <div class="card">
            <div class="front-card light-bg">
              <picture>
                <!-- Desktop -->
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/unique-components/img-2_desk@1x.webp 1x,
                    ./img/unique-components/img-2_desk@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/unique-components/img-2_desk@1x.png 1x,
                    /img/unique-components/img-2_desk@2x.png 2x
                  "
                  type="image/png"
                />
                <!-- Tablet and mobile -->
                <source
                  media="( max-width: 1199px)"
                  srcset="
                    /img/unique-components/img-2@1x.webp 1x,
                    /img/unique-components/img-2@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    ./img/unique-components/img-2@1x.png 1x,
                    /img/unique-components/img-2@2x.png  2x
                  "
                  type="image/png"
                />
                <img
                  class="unique-components-img img"
                  src="./img/unique-components/img-2@1x.png"
                  alt="Milk"
                  width="224"
                  height="171"
                  loading="lazy"
                />
              </picture>
              <h3 class="unique-components-subtitle">Milk</h3>
            </div>
            <div class="back-card">
              <h3 class="back-card-title title">Milk</h3>
              <div class="card-btn-container">
                <button class="unique-components-btn button" type="button">
                  milk
                </button>
                <button class="unique-components-btn button" type="button">
                  the benefits
                </button>
              </div>
              <p class="unique-components-card-text text">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food.Early-lactation milk, which is called
                colostrum, contains antibodies that strengthen the immune
                system.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-components-item item">
        <div class="container-card">
          <div class="card">
            <div class="front-card dark-bg">
              <picture>
                <!-- Desktop -->
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/unique-components/img-3_desk@1x.webp 1x,
                    ./img/unique-components/img-3_desk@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/unique-components/img-3_desk@1x.png 1x,
                    /img/unique-components/img-3_desk@2x.png 2x
                  "
                  type="image/png"
                />
                <!-- Tablet and mobile -->
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/unique-components/img-3@1x.webp 1x,
                    /img/unique-components/img-3@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    ./img/unique-components/img-3@1x.png 1x,
                    /img/unique-components/img-3@2x.png  2x
                  "
                  type="image/png"
                />
                <img
                  class="unique-components-img img"
                  src="./img/unique-components/img-3@1x.png"
                  alt="Nuts"
                  width="224"
                  height="171"
                  loading="lazy"
                />
              </picture>
              <h3 class="unique-components-subtitle-light">Nuts</h3>
            </div>

            <div class="back-card">
              <h3 class="back-card-title title">Nuts</h3>
              <div class="card-btn-container">
                <button class="unique-components-btn button" type="button">
                  nuts
                </button>
                <button class="unique-components-btn button" type="button">
                  the benefits
                </button>
              </div>
              <p class="unique-components-card-text text">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They&apos;re a good source
                of fiber, healthy fats, and plant protein. Plus, they&apos;re
                great on their own.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-components-item item">
        <div class="container-card">
          <div class="card">
            <div class="front-card light-bg">
              <picture>
                <!-- Desktop -->
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/unique-components/img-4_desk@1x.webp 1x,
                    ./img/unique-components/img-4_desk@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    /img/unique-components/img-4_desk@1x.png 1x,
                    /img/unique-components/img-4_desk@2x.png 2x
                  "
                  type="image/png"
                />
                <!-- Tablet and mobile -->
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    /img/unique-components/img-4@1x.webp 1x,
                    /img/unique-components/img-4@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    ./img/unique-components/img-4@1x.png 1x,
                    /img/unique-components/img-4@2x.png  2x
                  "
                  type="image/png"
                />
                <img
                  class="unique-components-img img"
                  src="./img/unique-components/img-4@1x.png"
                  alt="Semi-sweet chocolate"
                  width="224"
                  height="171"
                  loading="lazy"
                />
              </picture>
              <h3 class="unique-components-subtitle">Semi-sweet chocolate</h3>
            </div>
            <div class="back-card">
              <h3 class="back-card-title title">Semi-sweet chocolate</h3>
              <div class="card-btn-container">
                <button class="unique-components-btn button" type="button">
                  sweet chocolate
                </button>
                <button class="unique-components-btn button" type="button">
                  the benefits
                </button>
              </div>
              <p class="unique-components-card-text text">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison,
                it has a slightly bitter taste whereas milk chocolate is sweeter
                and more mellow.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
