.advantages-section {
  background: #1e1823;
  padding: 20px;
}
.advantages-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--light-color);
  margin-bottom: 18px;
  text-transform: capitalize;
}
.advantages-title-spoon {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: var(--light-color);
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantages-text {
  width: 308px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.7);
}
.advantages-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.advantages-item {
  position: relative;
}

.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fd9222;
}
@media only screen and (min-width: 767px) {
  .advantages-section {
    padding: 50px 32px;
  }
  .advantages-list {
    flex-direction: row;
    gap: 32px 48px;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages-section {
    padding: 50px;
  }
  .advantages-list {
    gap: 100px;
  }
  .advantages-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 120px;
    left: 270px;
    width: 124px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
  }
}
