.modal-header {
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  padding: 136px 46px 20px 50px;
  width: 220px;
  position: absolute;
  right: 100%;
  z-index: 100000;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  background: #1e1823;
}
.overlay-header {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px) brightness(0.86) grayscale(28%) opacity(92%);
  -webkit-backdrop-filter: blur(7px) brightness(0.86) grayscale(28%)
    opacity(92%);
  z-index: 10001;
}
.modal-1.active-1,
.overlay-1.active-1 {
  opacity: 1;
  visibility: visible;
}
.modal-1.active-1 {
  transition: right 0.5s ease-in-out;
  top: 0;
  right: 0;
}
.header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 14px;
  background-color: var(--grey-color);
}
.header-nav {
  display: flex;
  align-items: center;
}
.burger-menu-btn {
  margin-left: auto;
}
.header-logo-link {
  align-items: center;
  display: flex;
  gap: 4px;
}
.header-nav-link {
  font-weight: 500;
  line-height: 1.14;
  background: linear-gradient(
    to right,
    var(--brand-color),
    var(--brand-color) 50%,
    #111111 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease-in-out;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--brand-color);
  background-position: 0 100%;
}
.header-socials-list {
  display: flex;
  gap: 18px;
}
.header-socials-icon {
  stroke: #111111;
  fill: var(--light-color);
  transition: var(--transition-timings);
}
.header-socials-item .header-socials-link:hover .header-socials-icon,
.header-socials-item .header-socials-link:focus .header-socials-icon {
  stroke: var(--brand-color);
}
.header-logo-link {
  font-weight: 700;
  letter-spacing: -0.03em;
  color: var(--main-color);
}
.burger-menu-icon {
  stroke: var(--main-color);
}
.mobile-socials-list {
  left: 50px;
  bottom: 140px;
  position: absolute;
  gap: 18px;
  display: flex;
}
.mobile-socials-link {
  display: inline-block;
}
.mobile-socials-icon {
  fill: var(--secondary-color);
  stroke: var(--light-color);
  transition: var(--transition-timings);
}
.mobile-socials-item .mobile-socials-link:hover .mobile-socials-icon,
.mobile-socials-item .mobile-socials-link:focus .mobile-socials-icon {
  stroke: var(--brand-color);
}
.header-logo-span {
  font-style: italic;
}
.mobile-close-icon {
  top: 20px;
  right: 20px;
  position: absolute;
  stroke: var(--light-color);
  transition: var(--transition-timings);
}
.mobile-close-icon:hover,
.mobile-close-icon:focus {
  stroke: var(--brand-color);
}
.mobile-nav-list {
  position: relative;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.mobile-nav-link {
  display: inline-block;
  font-weight: 500;
  line-height: 1.14;
  color: var(--light-color);
  background: linear-gradient(
    to right,
    var(--brand-color),
    var(--brand-color) 50%,
    var(--light-color) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease-in-out;
  position: relative;
}
.mobile-nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: var(--brand-color);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: var(--brand-color);
  background-position: 0 100%;
}
.mobile-nav-link:hover::after {
  transform: scaleX(0.5);
  transform-origin: bottom left;
}
@media only screen and (max-width: 1199px) {
  .header-nav-list {
    display: none;
  }
  .header-socials-list {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .burger-menu-icon {
    width: 32px;
    height: 32px;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .modal-header {
    width: 290px;
    padding: 156px 81px 24px 85px;
  }
}
@media only screen and (min-width: 1200px) {
  .burger-menu-icon {
    display: none;
  }
  .header-logo-text {
    font-size: 18px;
    line-height: 1.1;
  }
  .header-nav-list {
    display: flex;
    gap: 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .header {
    padding-bottom: 32px;
  }
}
