.header {
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 14px;
  background-color: var(--grey-color);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 1200px) {
  .header-container {
    display: block;
  }
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo-link {
  margin-right: auto;
}
@media only screen and (min-width: 1200px) {
  .header-logo-link {
    margin-right: 188px;
  }
}
.header-logo-list {
  display: flex;
  gap: 4px;
}
.header-logo-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--main-color);
}
.header-logo-span {
  font-style: italic;
}

@media only screen and (min-width: 1200px) {
  .header-logo-text {
    font-size: 18px;
    line-height: 1.11;
  }
}

.header-nav-list {
  display: flex;
  gap: 24px;
  margin-right: auto;
}
.header-socials-list {
  display: flex;
  gap: 18px;
}

.header-socials-item {
  width: 24px;
  height: 24px;
}

.header-socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.header-socials-icon {
  stroke: var(--main-color);
  fill: var(--grey-color);

  transition: stroke var(--transition-timings);
}
.header-socials-icon:hover {
  stroke: var(--brand-color);
}

@media only screen and (max-width: 1199px) {
  .header-nav-list,
  .header-socials-list {
    display: none;
  }
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--main-color);

  background: linear-gradient(to right, #fd9222, #fd9222 50%, #111111 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;

  transition: background-position 500ms ease-in-out;
}

.header-nav-link:hover {
  background-position: 0 100%;
}

.burger-menu-icon {
  stroke: var(--main-color);
}
@media only screen and (min-width: 768px) {
  .burger-menu-icon {
    width: 32px;
    height: 32px;
  }
}
.burger-menu-btn {
  width: 28px;
  height: 28px;
}
@media only screen and (min-width: 768px) {
  .burger-menu-btn {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .burger-menu-btn {
    display: none;
  }
}

/* Mobile window */

.mobile-menu-container {
  padding-top: 136px;
  padding-left: 50px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  width: 220px;
  height: 100vh;
  z-index: 101;
  background-color: var(--secondary-color);
}
@media only screen and (min-width: 768px) {
  .mobile-menu-container {
    padding-top: 156px;
    padding-left: 85px;
    width: 290px;
  }
}

.mobile-close-btn {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.mobile-close-icon {
  stroke: var(--light-color);
}

@media only screen and (min-width: 1200px) {
  .mobile-menu-container {
    display: none;
  }
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  letter-spacing: -0.02em;
  color: var(--light-color);
}
.mobile-nav-link:hover {
  color: var(--brand-color);
}

.mobile-socials-list {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  gap: 18px;
}
@media only screen and (min-width: 768px) {
  .mobile-socials-list {
    left: 32px;
    bottom: 24px;
  }
}
.mobile-socials-icon {
  stroke: var(--light-color);
  fill: currentColor;
}
.mobile-socials-icon:hover {
  stroke: var(--brand-color);
}
@media only screen and (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .header-socials-list {
    display: none;
  }
}
.header-nav {
  display: flex;
  justify-content: center;
}
.header-logo-link {
  margin-right: 138px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .header-logo-link {
    margin-right: 503px;
  }
}
@media only screen and (min-width: 1200px) {
  .header-logo-link {
    margin-right: 188px;
  }
}
.header-logo-list {
  display: flex;
  gap: 4px;
}
/* .header-logo-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
}
.header-logo-span {
  font-style: italic;
} */

/* modal window */

.mobile-menu-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #1e1823;
}
.mobile-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.mobile-nav-list {
  margin-top: 136px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}
