/**
  |============================
  | hero styles
  |============================
*/
.hero-section {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-section {
    padding-bottom: 72px;
  }
}
.hero-container {
  background-color: #1e1823;
  margin-left: auto;
  margin-right: auto;
  padding-top: 395px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  /* padding: 20px; */
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/img/herobg/herobgmobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/herobg/herobgmobile@2x.jpg);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/herobg/herobgtablet.jpg);
    padding: 40px;
    padding-top: 671px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/img/herobg/herobgtablet@2x.jpg);
    }
  }
}
@media only screen and (min-width: 1200px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/herobg/herobgdesk.jpg);
    padding: 40px;
    padding-top: 381px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/img/herobg/herobgdesk@2x.jpg);
    }
  }
}

.hero-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--light-color);
  margin: 0;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .hero-subtitle {
    max-width: 484px;
    font-size: 28px;
  }
}
.hero-nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: baseline;
}
.buy-now-btn {
  display: block;
  cursor: pointer;
  padding: 12px 28px;
  border: transparent;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--light-color);
  position: relative;
  overflow: hidden;
  transition: var(--transition-timings);
  /* transition: background-color, color; */
}
/**
  |============================
  | animation for buy now
  |============================
*/
.buy-now-btn span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #fcf1e0;
  border-radius: 50%;
  transition: 0.6s ease;
}

.buy-now-btn span:nth-child(6) {
  position: relative;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-now-btn span:nth-child(1) {
  transform: translate(-3.3em, -5em);
}
.buy-now-btn span:nth-child(2) {
  transform: translate(-6em, 2.3em);
}
.buy-now-btn span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}
.buy-now-btn span:nth-child(4) {
  transform: translate(3.5em, 2.4em);
}
.buy-now-btn span:nth-child(5) {
  transform: translate(3.5em, -4.8em);
}
.buy-now-btn:hover,
.buy-now-btn:focus .text {
  color: var(--brand-color);
}
.buy-now-btn:hover span:not(:nth-child(6)),
.buy-now-btn:focus span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4.1);
  transition: 1.5s ease;
}
/* .buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: transparent;
  color: var(--brand-color);
} */
/**
  |============================
  | end animation buy now
  |============================
*/
@media only screen and (max-width: 352px) {
  .buy-now-btn {
    padding: 12px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .buy-now-btn {
    margin-bottom: 32px;
  }
}
.hero-nav-link {
  display: flex;
  padding: 12px 28px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-color);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--light-color);

  /* animation */
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.hero-nav-link:hover,
.hero-nav-link:focus {
  border-color: var(--brand-color);
  color: var(--brand-color);
}
/**
  |============================
  | animation for how its made
  |============================
*/

span {
  position: relative;
  z-index: 1;
  line-height: 24px;
  transition: 0.3s ease;
}
.hero-nav-link:hover span {
  color: #fd9222;
}
.btnBefore,
.btnAfter {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: solid #fd9222;
  border-width: 0;
  transition: 0;
  box-sizing: border-box;
  border-radius: 100px;
}
.hero-nav-link .btnBefore {
  right: 0;
  bottom: 0;
}
.hero-nav-link .btnAfter {
  left: 0;
  top: 0;
}
.hero-nav-link:hover .btnBefore {
  border-width: 0 0 2px 2px;
}
.hero-nav-link:hover .btnAfter {
  border-width: 2px 2px 0 0;
}
.hero-nav-link:hover {
  border: none;
}
.hero-nav-link:hover .btnAfter,
.hero-nav-link:hover .btnBefore {
  height: 100%;
  width: 100%;
  transition: width 0.5s ease, height 0.3s ease 0.3s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
}
/**
  |============================
  | end animation how its made
  |============================
*/
@media only screen and (max-width: 352px) {
  .hero-nav-link {
    padding: 12px 20px;
  }
}
.hero-scroll-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: -0.03em;
  color: var(--light-color);
  /* transition: color; */
}
.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: var(--brand-color);
}
@media only screen and (min-width: 768px) {
  .hero-scroll-link {
    margin-left: auto;
  }
}
.hero-skroll-icon {
  background-color: var(--light-color);
  border-radius: 50%;
  fill: var(--brand-color);
  padding: 6px;
  /* transition: background-color, fill; */
}
.hero-skroll-icon:hover,
.hero-skroll-icon:focus {
  background-color: var(--brand-color);
  fill: var(--light-color);
}
@media only screen and (min-width: 768px) {
  .hero-skroll-icon {
    width: 38px;
    height: 38px;
    padding: 8px;
  }
}

/**
  |============================
  | end hero styles
  |============================
*/
