.hero-container {
  background-color: #1e1823;
  padding-top: 395px;
  padding-bottom: 20px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/img/herobg/herobgmobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
@media only screen and (min-width: 768px) {
  .hero-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}
.hero-section {
  padding-bottom: 72px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/herobg/herobgmobile@2x.jpg);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/herobg/herobgtablet.jpg);
    padding-top: 671px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/img/herobg/herobgtablet@2x.jpg);
    }
  }
}
@media only screen and (min-width: 1200px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/herobg/herobgdesk.jpg);
    padding-top: 381px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/img/herobg/herobgdesk@2x.jpg);
    }
  }
}

.hero-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--light-color);
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .hero-subtitle {
    max-width: 484px;
    font-size: 28px;
  }
  .hero-section {
    padding-bottom: 50px;
  }
}
.hero-nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.buy-now-btn {
  margin-right: 14px;
  display: block;
  padding: 12px 28px;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--light-color);
  position: relative;
  overflow: hidden;
}
.buy-now-btn span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #fcf1e0;
  border-radius: 50%;
  transition: 0.6s ease;
}
.buy-now-btn span:nth-child(6) {
  position: relative;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-now-btn span:nth-child(1) {
  transform: translate(-3.3em, -5em);
}
.buy-now-btn span:nth-child(2) {
  transform: translate(-6em, 2.3em);
}
.buy-now-btn span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}
.buy-now-btn span:nth-child(4) {
  transform: translate(3.5em, 2.4em);
}
.buy-now-btn span:nth-child(5) {
  transform: translate(3.5em, -4.8em);
}
.buy-now-btn:hover,
.buy-now-btn:focus .text {
  color: var(--brand-color);
}
.buy-now-btn:hover span:not(:nth-child(6)),
.buy-now-btn:focus span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
@media only screen and (max-width: 352px) {
  .buy-now-btn {
    padding: 12px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .buy-now-btn {
    margin-bottom: 32px;
  }
  .hero-container {
    width: 93%;
  }
}
.hero-nav-link {
  padding: 12px 28px;
  border: 1px solid var(--light-color);
  border-radius: 100px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--light-color);
  transition: color, border-color var(--transition-timings);
}
.hero-nav-link:hover,
.hero-nav-link:focus {
  border-color: var(--brand-color);
  color: var(--brand-color);
}

@media only screen and (max-width: 352px) {
  .hero-nav-link {
    padding: 12px 20px;
  }
}
.hero-scroll-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  background: linear-gradient(
    to right,
    var(--brand-color),
    var(--brand-color) 50%,
    var(--light-color) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease-in-out;
}
.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: var(--brand-color);
  background-position: 0 100%;
}
@media only screen and (min-width: 768px) {
  .hero-scroll-link {
    margin-left: auto;
  }
}
.hero-skroll-icon {
  background-color: var(--light-color);
  padding: 6px;
  border-radius: 50%;
  fill: var(--brand-color);
  transition: var(--transition-timings);
}
@media only screen and (min-width: 768px) {
  .hero-skroll-icon {
    width: 38px;
    height: 38px;
    padding: 8px;
  }
}
.hero-skroll-icon:hover,
.hero-skroll-icon:focus {
  background-color: var(--brand-color);
  fill: var(--light-color);
}
.hero-container {
  width: 96%;
}
@media only screen and (min-width: 1200px) {
  .hero-section {
    padding-bottom: 72px;
  }
}
