/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  padding-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .section {
    padding-bottom: 128px;
  }
}

.container {
  min-width: 300px;
  max-width: 365px;
  padding: 0 15px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 1.17;
  }
}
