.decoraion-reviews-title {
  color: var(--brand-color);
}
.reviews-list {
  margin-top: 91px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .reviews-list {
    margin-bottom: 50px;
  }
}
.reviews-item {
  min-height: 200px;
  max-width: 360px;
  background: var(--light-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 26px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .reviews-item {
    margin-bottom: 31px;
  }
}
.photo-user {
  position: absolute;
  top: -40px;
  border-radius: 50%;
  z-index: 50;
}
.owl-carousel .owl-stage-outer {
  overflow-x: clip;
  overflow-y: visible;
}

.owl-carousel .owl-item img {
  width: 80px;
}
.reviews-user {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-top: 56px;
  margin-bottom: 24px;
  color: #111111;
}

.reviews-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #111111;
  padding: 14px 40px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid var(--brand-color);
  border-radius: 100px;
  background: transparent;
  min-width: 222px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.reviews-btn span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: #fd9222;
  border-radius: 50%;
  transition: 0.6s ease;
}
.reviews-btn span:nth-child(6) {
  position: relative;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews-btn span:nth-child(1) {
  transform: translate(-3.3em, -5em);
}
.reviews-btn span:nth-child(2) {
  transform: translate(-6em, 2.3em);
}
.reviews-btn span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}
.reviews-btn span:nth-child(4) {
  transform: translate(3.5em, 2.4em);
}
.reviews-btn span:nth-child(5) {
  transform: translate(3.5em, -4.8em);
}
.reviews-btn:hover,
.reviews-btn:focus .text {
  color: #fff;
}
.reviews-btn:hover span:not(:nth-child(6)),
.reviews-btn:focus span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
.owl-stage {
  display: flex;
}
.owl-nav {
  display: none;
}
.owl-carousel .owl-dots.disabled {
  display: block;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: var(--brand-color);
  width: 28px;
  height: 13px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
}
.owl-carousel.owl-drag .owl-item .active {
  width: 360px;
}
/*==================== MODAL  =========================*/

.modal-close-reviews-btn {
  padding: 0;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--bg-close-icon);

  transition: background-color var(--transition-duration-funs);
}

@media only screen and (min-width: 768px) {
  .modal-close-reviews-btn {
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
  }
}
.modal-close-reviews-btn:hover,
.modal-close-reviews-btn:focus {
  background-color: #fcf1e0;
}
.icon-close {
  position: absolute;
  stroke: var(--main-color);
}
.modal-close-reviews-btn:focus .icon-close,
.modal-close-reviews-btn:hover .icon-close {
  width: 16px;
  height: 16px;
  stroke: var(--brand-color);
}
@media only screen and (min-width: 768px) {
  .icon-close {
    width: 28px;
    height: 28px;
  }
  .modal-close-reviews-btn:focus .icon-close,
  .modal-close-reviews-btn:hover .icon-close {
    width: 22px;
    height: 22px;
    stroke: var(--brand-color);
  }
}

.modal-reviews {
  position: fixed;
  width: 311px;
  height: 471px;
  padding: 32px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;
  overflow-y: hidden;
  background: var(--grey-color);
}
@media only screen and (min-width: 768px) {
  .modal-reviews {
    width: 517px;
    height: 628px;
    padding: 40px;
  }
}
.overlay-reviews {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px) brightness(0.86) grayscale(28%) opacity(92%);
  z-index: 1000;
  transition: 0.3s all;
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal-reviews-text {
  max-width: 298px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 26px;
}

@media only screen and (min-width: 768px) {
  .modal-reviews-text {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 40px;
  }
}
.modal-text-decoration {
  color: var(--brand-color);
}
.form-reviews {
  display: flex;
  flex-direction: column;
}
.modal-reviews-field {
  position: relative;
  display: flex;
  align-items: center;
}

.modal-reviews-field:not(:last-child) {
  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .modal-reviews-field:not(:last-child) {
    margin-bottom: 18px;
  }
}
.modal-reviews-input::placeholder {
  align-self: center;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;

  color: var(--grey-transparent-color);
}
@media only screen and (min-width: 768px) {
  .modal-reviews-input::placeholder {
    left: 24px;
    font-size: 17px;
    line-height: 1.22;
  }
}
.modal-reviews-input {
  height: 45px;
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 14px 18px;
}
.modal-reviews-input:focus,
.modal-form-message:focus {
  outline: none;
  border: 1px solid blue;
}
@media only screen and (min-width: 768px) {
  .modal-reviews-input {
    height: 66px;
    padding: 22px 24px;
  }
}
.modal-form-field {
  position: relative;
}
.modal-form-message {
  padding: 14px 18px;
  height: 91px;
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  resize: none;
}

@media only screen and (min-width: 768px) {
  .modal-form-message {
    height: 137px;
    padding: 22px 24px;
  }
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--grey-transparent-color);
}
@media only screen and (min-width: 768px) {
  .modal-form-message::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }
}
.modal-form-deck {
  position: absolute;
  top: 14px;
  left: 18px;

  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;

  color: var(--grey-transparent-color);
}
@media only screen and (min-width: 768px) {
  .modal-form-deck {
    top: 22px;
    left: 24px;
    font-size: 17px;
    line-height: 1.22;
  }
}
.wrapper-phone {
  position: absolute;
  display: flex;
  left: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  border-right: 1px solid var(--grey-transparent-color);
}

@media only screen and (min-width: 768px) {
  .wrapper-phone {
    left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 32px;
  }
}
.phone-number-reviews {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin-left: 8px;
}
@media only screen and (min-width: 768px) {
  .phone-number-reviews {
    font-size: 18px;
    line-height: 1.22;
    margin-left: 18px;
  }
}
.input-number-reviews {
  padding-left: 106px;
}
@media only screen and (min-width: 768px) {
  .input-number-reviews {
    padding-left: 177px;
  }
}
.reviews-button-send {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  width: 93px;
  padding: 12px 28px;
  margin-top: 18px;
  margin-left: 0;
  margin-right: 0;
  background: var(--brand-color);
  color: var(--light-color);
  border-radius: 100px;
  border: none;
  transition: background-color var(--transition-timings);
}
@media only screen and (min-width: 768px) {
  .reviews-button-send {
    width: 117px;
    padding: 14px 40px;
  }
}
.reviews-button-send:hover,
.reviews-button-send:focus {
  background-color: #fcf1e0;
  color: var(--brand-color);
}
