/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* CSS-files */

@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./vite-promo.css');

:root {
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #111111;
  --secondary-color: #1e1823;
  --brand-color: #fd9222;
  --light-color: #ffffff;
  --light-more-transparent:rgba(255, 255, 255, 0.1);
  --light-transparent: rgba(255, 255, 255, 0.5);
  --light-semi-transparent: color: rgba(255, 255, 255, 0.7);
  --dark-transparent: rgba(17, 17, 17, 0.1);
  --dark-semi-transparent: rgba(17, 17, 17, 0.7);
  --grey-color: #fafafa;
  --grey-transparent-color: rgba(64, 64, 64, 0.3);
  --border-color: rgba(17, 17, 17, 0.05);
  --modal-bg: #E2E2E2;

  --transition-timings: 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

html {
 scroll-behavior: smooth;
}

/* Fonts */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat'),
  url("./fonts/Montserrat-Bold.woff2") format("woff2"),
  url("./fonts/Montserrat-Bold.woff") format("woff"),
  url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat'),
  url("./fonts/Montserrat-BoldItalic.woff2") format("woff2"),
  url("./fonts/Montserrat-BoldItalic.woff") format("woff"),
  url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6WXh0pg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat'),
  url("./fonts/Montserrat-Montserrat-SemiBold.woff2") format("woff2"),
  url("./fonts/Montserrat-Montserrat-SemiBold.woff") format("woff"),
  url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat'),
  url("./fonts/Montserrat-Medium.woff2") format("woff2"),
  url("./fonts/Montserrat-Medium.woff") format("woff"),
  url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
  url("./fonts/Montserrat-Regular.woff2") format("woff2"),
  url("./fonts/Montserrat-Regular.woff") format("woff"),
  url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ---------------------------------------------------------- */
body {
font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: var(--main-color);
  background: var(--light-color);
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}