/*
  |========================
  | Sellers section
  |========================
*/
@media only screen and (max-width: 1199px) {
  .top-sellers-list-item-desktop {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .top-sellers-dektop-container {
    display: none;
  }
}
.top-sellers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-sellers-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.top-selers-title-span {
  color: var(--brand-color);
}
.top-sellers-list-item:first-child {
  margin-bottom: 32px;
}
.top-sellers-desc {
  width: 306px;
}
.top-sellers-img {
  width: 335px;
  height: 100%;
  margin-bottom: 20px;
}
.top-sellers-btn {
  display: block;
  padding: 12px 28px;
  background-color: var(--brand-color);
  border-radius: 100px;
  font-weight: 600;
  color: var(--light-color);
  margin: 0 auto;
  transition: var(--transition-timings);
}
.top-sellers-btn:hover,
.top-sellers-btn:focus {
  background-color: #fcf1e0;
  color: var(--brand-color);
}
/*
  |========================
  | Tablet
  |========================
*/
@media only screen and (min-width: 768px) {
  .top-sellers-dektop-container {
    width: 768px;
  }
  .top-sellers-container {
    margin-bottom: 32px;
  }
  .top-sellers-title {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .top-sellers-list {
    display: flex;
    gap: 16px;
  }
  .top-sellers-list-item {
    height: 464px;
  }
  .top-sellers-list-item:first-child {
    margin-bottom: 0;
  }
  .top-sellers-desc {
    display: none;
  }
  .top-sellers-dektop-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .top-sellers-desc-desktop {
    width: 306px;
  }
  .top-sellers-btn {
    display: none;
  }
  .top-sellers-btn-desktop {
    padding: 14px 40px;
    background-color: var(--brand-color);
    border-radius: 100px;
    font-weight: 600;
    font-size: 18px;
    color: var(--light-color);
    transition: var(--transition-timings);
  }
  .top-sellers-btn-desktop:hover,
  .top-sellers-btn-desktop:focus {
    background-color: #fcf1e0;
    color: var(--brand-color);
  }
  .top-sellers-img {
    width: 344px;
    margin-bottom: 0;
  }
}
/*
  |========================
  | Desktop
  |========================
*/
@media only screen and (min-width: 1200px) {
  .top-sellers-dektop-container {
    width: 1200px;
  }
  .top-sellers-list-item-desktop {
    height: 464px;
  }
  .top-sellers-list-item {
    margin-bottom: 0;
  }
  .top-sellers-img {
    width: 368px;
  }
  .top-sellers-img-desktop {
    width: 368px;
  }
  .top-sellers-desc-desktop {
    width: 407px;
  }
}
<<<<<<< Updated upstream
=======
/*
  |========================
  | Modal
  |========================
*/
.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 609px;
  min-height: min-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  padding: 48px;
  background-color: var(--grey-color);
  border-radius: 15px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px) brightness(0.86) grayscale(28%) opacity(92%);
  z-index: 1000;
  transition: 0.3s all;
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal-icon {
  cursor: pointer;
  top: 24px;
  right: 24px;
  position: absolute;
  stroke: var(--main-color);
}
.modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}
.modal-title-span {
  color: var(--brand-color);
}
.modal-img-list {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}
.modal-img-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 14px;
  background: var(--light-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 160px;
  height: 196px;
}
.modal-gram-container {
  padding: 8px 10px 8px 28px;
  width: 96px;
  height: 33px;
  background: var(--grey-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  font-weight: 600;
}
.label {
  display: block;
  font-weight: 500;
  color: #000000;
  margin-bottom: 8px;
}
.pi-first-input,
.pi-second-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 13px;
  width: 246px;
  height: 66px;
  padding: 22px 24px;
}
.pi-first-input::placeholder,
.pi-second-input::placeholder,
.input-email::placeholder,
.input-number::placeholder,
.input-card::placeholder,
.ta::placeholder {
  font-size: 18px;
  line-height: 1.2;
  color: rgba(64, 64, 64, 0.3);
}
.pi-first-input {
  font-size: 18px;
  margin-right: 17px;
  color: #000000;
}
.pi-second-input,
.input-email,
.input-number,
.input-card,
.ta {
  font-size: 18px;
  color: #000000;
}
.modal-container {
  margin-bottom: 18px;
}
.input-email {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  width: 100%;
  height: 66px;
}
.input-tel-container {
  position: relative;
}
.phone-icon {
  top: -9px;
  left: 24px;
  position: absolute;
}
.input-number {
  padding: 24px 24px 24px 177px;
  height: 66px;
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
}
.phone-number {
  left: 74px;
  top: -5px;
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}
.phone-number::after {
  left: 70px;
  top: -5px;
  position: absolute;
  display: inline-block;
  content: '';
  width: 3px;
  height: 32px;
  background-color: rgba(17, 17, 17, 0.05);
}
.number-container {
  position: relative;
}
.number-gram {
  top: 8px;
  left: 58px;
  position: absolute;
  font-weight: 600;
}
.input-card-container {
  position: relative;
}
.input-card {
  padding: 22px 24px;
  height: 66px;
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
}
.card-icon {
  top: -7px;
  right: 24px;
  position: absolute;
}
.ta {
  padding: 22px 24px;
  width: 100%;
  min-height: 137px;
  overflow: auto;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  resize: none;
}
>>>>>>> Stashed changes
