.unique-components-section {
}
.section {
}
.unique-section-container {
}
.container {
}


.unique-components-text {
    margin-bottom: 32px;
}

.unique-components-card-text {
    
}
@media only screen and (min-width: 768px) {
  .unique-components-text {
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
  }
}
.unique-components-title {
    margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .unique-components-title {
    max-width: 411px;
    margin: 0 auto;
    margin-bottom: 28px;
  }
}

.unique-components-title-accent {
    color: var(--brand-color);
}
.unique-components-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
@media only screen and (min-width: 768px) {
  .unique-components-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.list {
}
.unique-components-item {
    
}

@media only screen and (min-width: 768px) {
  .unique-components-item {
    flex-basis: calc((100% - 30px)/2);
  }
}

@media only screen and (min-width: 1200px) {
    .unique-components-item {
      flex-basis: calc((100% - 57px)/4);
    }
  }
.item {
}
.unique-components-img {
    margin: 0 auto;
    margin-bottom: 25px;
}
.img {
}
.unique-components-subtitle {
}

.unique-components-btn {
  padding: 6px 16px;
  border-radius: 35px;
  color: var(--light-color);
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
}
.unique-components-btn:nth-child(2n){
  color: var(--main-color);
  background-color: var(--light-color);
}

.card-btn-container{
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}
.button {
}
 
/* .container-card{
  perspective: 500px; 
} */
/* .container-card:hover > .card {
   transform: rotateY(180deg);
} */
.card {
  position: relative;
  transition: transform 500ms;
  transform-style: preserve-3d;
}

/* .front-card ,
.back-card {
 backface-visibility: hidden;
} */

.front-card {
  display: flex;
  padding: 28px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* padding-top: 28px;
  padding-bottom: 28px;
  padding-right: 58px;
  padding-left: 28px; */

  background-color: var(--brand-color);
  border-radius: 15px;
  border: 1px solid transperent;
}

.light-bg {
    background-color: var(--light-color);
    border: 1px solid var(--brand-color);
}

.dark-bg{
    background-color: var(--secondary-color);
    border: 1px solid var(--brand-color);
}

.unique-components-subtitle{
    margin-right: auto;
}

.back-card {
  padding: 28px;
  background-color: var(--light-color);
  border-radius: 15px;
  
  /* position: absolute; 
  left: 0;
  top: 0;

 transform: rotateY(180deg);  */
   
}

.back-card-title{
  text-align: start;
  margin-bottom: 8px;
}